@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --fundocaixa: hsl(0, 0%, 100%);
    --fundo: hsl(212, 45%, 89%);
    --subt: hsl(220, 15%, 55%);
    --titulo: hsl(218, 44%, 22%);

    --fonte: 'Outfit', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: var(--fundo);
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.container{
    max-width: 375px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 13px 19px 16px -4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    background: var(--fundocaixa);
    text-align: center;
}

#image img{
    margin-top: 10px;
    text-align: center;
    width: 90%;
    height: 40%;
    border-radius: 10px;
}

#legenda{
    margin: 20px;
    padding: 5px;
    font-family: var(--fonte);
}

#legenda h2{
    color: var(--titulo);
    font: 700;
    margin-bottom: 20px;
    text-align: left;

}

#legenda p{
    text-align: left;
    color: var(--subt);
    font: 400 15px;
}